* {
	margin: 0;
	padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,800;0,900;1,600&display=swap");
html,
body {
	background: #002233;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}
body {
	margin: 0;
}
main {
	height: 100%;
	display: flex;
	max-width: 1200px;
	margin: auto;
}
h1 {
	width: 50%;
	height: 100%;
	min-width: 300px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #eee;
	padding: 0 2rem;
	font-size: 5rem;
	height: 100vh;
	z-index: 1;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
